{% extends "proyectowebapp/base.html" %}

{% load static %}}

{% block content %}
 


<div><p style="color: white;">En nuestra tienda, nos apasiona la tecnología y sabemos que tú también. Estamos desde el año 2005 ofreciendo la mejor atencion.
    Por eso, estamos comprometidos a ofrecerte los mejores y más innovadores accesorios para satisfacer todas tus necesidades electrónicas. 
    Ya sea que seas un amante de los gadgets, un entusiasta de la informática, un apasionado de los dispositivos móviles o simplemente alguien que busca mejorar su experiencia tecnológica, ¡estás en el lugar correcto!
    </p></div>



{% endblock %}